body{
    background-color: antiquewhite;
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
nav{
    font-family: 'Roboto', sans-serif;
}
nav ul{
    display: flex;
    list-style-type: none;
    height: 60px;
    background-color: black;
    color: blanchedalmond;
    align-items: center;
}
nav ul li{
    padding: 0 12px;
}
.logo1 img{
    width: 50px;
    height: 50px;
 
}
.logo1{
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 1.3rem;
}
.song_item_container{
    margin-top: 70px;
}
.container{
    min-height: 68vh;
    background-color: black;
    color: white;
    display: flex;
    margin: 20px auto;
    width: 70%;
    border-radius: 10px;
    padding: 8px;
    background: url("bg.jpg");
}
.song_item{
    height: 40px;
    background-color: white;
    width: 100%;
    display: flex;
    color: black;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 35px;
}
.song_item img{
    width: 40px;
    margin: 0 24px;
}
.song_play_time2{
    margin: 0 23px;
}
.song_play_time2 i{
    cursor: pointer;
}
#myprogress_bar{
    width: 70vw;
    cursor: pointer;
}
.bottom{
    position: sticky;
    height: 120px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
}
.icons{
    margin-top: 10px;
}
.icons i{
    cursor: pointer;
}
.song_info{
    position: absolute;
    left: 15vw;
}
.song_info img{
    opacity: 0;
    transition: opacity 1s ease-in;
}